https://www.ine.es/jaxiT3/Tabla.htm?t=68535&utm_source=chatgpt.com

In [5]:
import pandas as pd

In [2]:
# Crear dataframe con datos ine
ine_datos = pd.read_csv('../datos_raw/INE-poblacion-grupo-edad.csv', sep=';')

/tmp/ipykernel_66853/1626407884.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  ine_datos = pd.read_csv('../datos_raw/INE-poblacion-grupo-edad.csv', sep=';')

In [3]:
ine_datos

,Total Nacional,Provincias,Municipios,Sexo,Edad,Nacionalidad,Periodo,Total
0,Total Nacional,NaN,NaN,Total,Todas las edades,Total,2025,49.128.297
1,Total Nacional,NaN,NaN,Total,Todas las edades,Total,2024,48.619.695
2,Total Nacional,NaN,NaN,Total,Todas las edades,Total,2023,48.085.361
3,Total Nacional,NaN,NaN,Total,Todas las edades,Total,2022,47.486.727
4,Total Nacional,NaN,NaN,Total,Todas las edades,Total,2021,47.400.798
...,...,...,...,...,...,...,...,...
8103145,Total Nacional,52 Melilla,52001 Melilla,Mujeres,100 y más años,Extranjera,2025,1.0
8103146,Total Nacional,52 Melilla,52001 Melilla,Mujeres,100 y más años,Extranjera,2024,3.0
8103147,Total Nacional,52 Melilla,52001 Melilla,Mujeres,100 y más años,Extranjera,2023,1.0
8103148,Total Nacional,52 Melilla,52001 Melilla,Mujeres,100 y más años,Extranjera,2022,1.0
8103149,Total Nacional,52 Melilla,52001 Melilla,Mujeres,100 y más años,Extranjera,2021,1.0

In [4]:
ine_datos['Periodo'].unique()

array([2025, 2024, 2023, 2022, 2021])

In [5]:
# Renombrar columnas
ine_datos = ine_datos.rename(columns={
    'Provincias': 'provincia',
    'Grupo quinquenal de edad': 'grupo_edad',
    'Nacionalidad': 'nacionalidad',
    'Sexo': 'sexo',
    'Periodo': 'periodo',
    'Total': 'poblacion'
})
ine_datos.describe()

            periodo
count  8.103150e+06
mean   2.023000e+03
std    1.414214e+00
min    2.021000e+03
25%    2.022000e+03
50%    2.023000e+03
75%    2.024000e+03
max    2.025000e+03

In [17]:
ine_datos.head()

,provincia,grupo_edad,nacionalidad,sexo,periodo,poblacion
0,Total Nacional,Total,Total,Ambos sexos,1 de julio de 2022,"47.615.033,864697"
1,Total Nacional,Total,Total,Ambos sexos,1 de enero de 2022,"47.432.892,943294"
2,Total Nacional,Total,Total,Ambos sexos,1 de julio de 2021,"47.331.301,774407"
3,Total Nacional,Total,Total,Ambos sexos,1 de enero de 2021,"47.398.694,945392"
4,Total Nacional,Total,Total,Ambos sexos,1 de julio de 2020,"47.355.684,576847"