## Integración de datasets

Este notebook se encarga de la **integración de los distintos datasets del proyecto** a nivel municipal para la Comunitat Valenciana.

El objetivo es construir un **dataset final coherente y homogéneo** que combine:
- Datos de población por grupos de edad
- Delimitaciones geográficas de los municipios
- Información de centros sanitarios

Este dataset integrado servirá como base para los análisis estadísticos, espaciales y de accesibilidad a centros sanitarios.

In [3]:
import pandas as pd

In [4]:
# Crear dataframes
poblacion_df = pd.read_csv('../data/processed/INE-poblacion-grupo-edad-clean.csv', sep=',')
municipios_df = pd.read_csv('../data/processed/GVA-municipios-delimitaciones-clean.csv', sep=',')
centros_df = pd.read_csv('../data/processed/GVA-centros-sanitarios-clean.csv', sep=',')

### Integración con delimitaciones municipales

El dataset de población procesado se une con el dataset de delimitaciones municipales mediante el código INE del municipio.

El resultado de esta integración es un dataframe que contiene:
- Información demográfica por grupos de edad
- Geometría del municipio
- Superficie municipal en hectáreas

Dado que ambos datasets contienen exactamente **542 municipios**, la unión es directa y sin pérdida de información.

In [3]:
poblacion_df.describe(include='all')

,cod_provincia,provincia,cod_municipio,municipio,pob_100_mas,pob_0_4,pob_10_14,pob_15_19,pob_20_24,pob_25_29,...,pob_55_59,pob_60_64,pob_65_69,pob_70_74,pob_75_79,pob_80_84,pob_85_89,pob_90_94,pob_95_99,poblacion_total
count,542.000000,542,542.000000,542,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,...,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000
unique,NaN,3,NaN,542,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Valencia/València,NaN,"Atzúbia, l'",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,266,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,26.345018,NaN,26459.627306,NaN,2.413284,354.931734,516.734317,562.162362,551.269373,543.101476,...,744.994465,674.153137,582.151292,476.407749,408.208487,295.754613,167.658672,86.959410,21.619926,10009.560886
std,19.578954,NaN,19604.145835,NaN,12.695890,1498.760716,2058.244925,2300.419467,2483.479662,2674.789191,...,3130.386362,2841.301131,2463.809427,2075.738705,1833.932374,1336.866457,778.643578,410.751696,107.716508,43098.380733
min,3.000000,NaN,3001.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000
25%,3.000000,NaN,3139.250000,NaN,0.000000,12.000000,17.000000,18.250000,21.000000,21.000000,...,40.000000,40.000000,36.000000,28.000000,24.250000,21.000000,13.000000,6.000000,1.000000,504.000000
50%,12.000000,NaN,12139.500000,NaN,0.000000,50.000000,69.000000,75.000000,72.000000,73.500000,...,126.500000,123.000000,100.000000,82.500000,71.500000,60.000000,34.000000,19.000000,4.000000,1571.500000
75%,46.000000,NaN,46130.750000,NaN,2.000000,264.000000,397.500000,417.500000,371.000000,383.500000,...,571.750000,483.750000,421.250000,341.750000,272.750000,205.500000,116.500000,65.000000,14.000000,7698.500000
max,46.000000,NaN,46904.000000,NaN,261.000000,28778.000000,37954.000000,42984.000000,48903.000000,54588.000000,...,61055.000000,55635.000000,48219.000000,41057.000000,36852.000000,27232.000000,15918.000000,8469.000000,2206.000000,841558.000000

In [4]:
municipios_df.describe(include='all')

,geometry_municipio,cod_municipio,area_ha
count,542,542.000000,542.000000
unique,542,NaN,NaN
top,MULTIPOLYGON (((713525.146941122 4419313.16997...,NaN,NaN
freq,1,NaN,NaN
mean,NaN,26459.627306,4293.768284
std,NaN,19604.145835,6267.368726
min,NaN,3001.000000,1.260000
25%,NaN,3139.250000,913.260000
50%,NaN,12139.500000,2197.355000
75%,NaN,46130.750000,5553.020000
max,NaN,46904.000000,81426.900000

In [5]:
# Unir población con delimitaciones municipales
merged_df = poblacion_df.merge(
    municipios_df,
    on='cod_municipio',
    how='inner'
)

merged_df.describe(include='all')

,cod_provincia,provincia,cod_municipio,municipio,pob_100_mas,pob_0_4,pob_10_14,pob_15_19,pob_20_24,pob_25_29,...,pob_65_69,pob_70_74,pob_75_79,pob_80_84,pob_85_89,pob_90_94,pob_95_99,poblacion_total,geometry_municipio,area_ha
count,542.000000,542,542.000000,542,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,...,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542,542.000000
unique,NaN,3,NaN,542,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,542,NaN
top,NaN,Valencia/València,NaN,"Atzúbia, l'",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULTIPOLYGON (((743276.308117251 4304914.60798...,NaN
freq,NaN,266,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
mean,26.345018,NaN,26459.627306,NaN,2.413284,354.931734,516.734317,562.162362,551.269373,543.101476,...,582.151292,476.407749,408.208487,295.754613,167.658672,86.959410,21.619926,10009.560886,NaN,4293.768284
std,19.578954,NaN,19604.145835,NaN,12.695890,1498.760716,2058.244925,2300.419467,2483.479662,2674.789191,...,2463.809427,2075.738705,1833.932374,1336.866457,778.643578,410.751696,107.716508,43098.380733,NaN,6267.368726
min,3.000000,NaN,3001.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,NaN,1.260000
25%,3.000000,NaN,3139.250000,NaN,0.000000,12.000000,17.000000,18.250000,21.000000,21.000000,...,36.000000,28.000000,24.250000,21.000000,13.000000,6.000000,1.000000,504.000000,NaN,913.260000
50%,12.000000,NaN,12139.500000,NaN,0.000000,50.000000,69.000000,75.000000,72.000000,73.500000,...,100.000000,82.500000,71.500000,60.000000,34.000000,19.000000,4.000000,1571.500000,NaN,2197.355000
75%,46.000000,NaN,46130.750000,NaN,2.000000,264.000000,397.500000,417.500000,371.000000,383.500000,...,421.250000,341.750000,272.750000,205.500000,116.500000,65.000000,14.000000,7698.500000,NaN,5553.020000
max,46.000000,NaN,46904.000000,NaN,261.000000,28778.000000,37954.000000,42984.000000,48903.000000,54588.000000,...,48219.000000,41057.000000,36852.000000,27232.000000,15918.000000,8469.000000,2206.000000,841558.000000,NaN,81426.900000

In [6]:
merged_df.head()

,cod_provincia,provincia,cod_municipio,municipio,pob_100_mas,pob_0_4,pob_10_14,pob_15_19,pob_20_24,pob_25_29,...,pob_65_69,pob_70_74,pob_75_79,pob_80_84,pob_85_89,pob_90_94,pob_95_99,poblacion_total,geometry_municipio,area_ha
0,3,Alicante/Alacant,3001,"Atzúbia, l'",0.0,10.0,13.0,21.0,17.0,21.0,...,64.0,45.0,43.0,36.0,19.0,8.0,1.0,601.0,MULTIPOLYGON (((743276.308117251 4304914.60798...,1467.97
1,3,Alicante/Alacant,3002,Agost,1.0,184.0,256.0,295.0,264.0,269.0,...,299.0,232.0,211.0,137.0,95.0,68.0,16.0,5224.0,MULTIPOLYGON (((704600.791944247 4263369.91113...,6665.38
2,3,Alicante/Alacant,3003,Agres,0.0,17.0,21.0,28.0,27.0,43.0,...,34.0,43.0,33.0,26.0,9.0,7.0,3.0,625.0,MULTIPOLYGON (((714462.985510726 4293839.55211...,2584.57
3,3,Alicante/Alacant,3004,Aigües,0.0,45.0,51.0,56.0,48.0,48.0,...,80.0,56.0,50.0,38.0,11.0,2.0,3.0,1187.0,MULTIPOLYGON (((731854.929641063 4267367.66736...,1846.24
4,3,Alicante/Alacant,3005,Albatera,0.0,708.0,833.0,828.0,778.0,784.0,...,646.0,500.0,409.0,301.0,180.0,93.0,23.0,13476.0,MULTIPOLYGON (((689973.260835391 4229818.12367...,6187.96

In [7]:
merged_df.isna().sum()

cod_provincia         0
provincia             0
cod_municipio         0
municipio             0
pob_100_mas           0
pob_0_4               0
pob_10_14             0
pob_15_19             0
pob_20_24             0
pob_25_29             0
pob_30_34             0
pob_35_39             0
pob_40_44             0
pob_45_49             0
pob_5_9               0
pob_50_54             0
pob_55_59             0
pob_60_64             0
pob_65_69             0
pob_70_74             0
pob_75_79             0
pob_80_84             0
pob_85_89             0
pob_90_94             0
pob_95_99             0
poblacion_total       0
geometry_municipio    0
area_ha               0
dtype: int64

### Integración con centros sanitarios

El siguiente paso consiste en integrar la información de los centros sanitarios.

A diferencia de las integraciones anteriores:
- Cada **centro sanitario** genera una fila en el dataset final
- Los datos demográficos y territoriales del municipio se replican para cada centro

Además:
- Los municipios **sin centros sanitarios** se mantienen en el dataset
- Estos municipios presentan valores nulos en las variables asociadas a centros

Este enfoque permite:
- Analizar la distribución y tipología de centros
- Identificar municipios sin cobertura sanitaria directa

Como mejora, se considera la creación de una variable indicadora (`tiene_centro_sanitario`) que señale explícitamente la presencia o ausencia de centros sanitarios en cada municipio.

In [8]:
centros_df.describe(include='all')

,cen_cod,cen_desclar,cod_municipio,tipo,wkt_centro
count,308.000000,308,308.000000,308,308
unique,NaN,308,NaN,3,308
top,NaN,HOSPITAL PSIQUIATRICO PROVINCIAL,NaN,Centros de salud,POINT (719542.884 4383884.783)
freq,NaN,1,NaN,248,1
mean,1096.370130,NaN,26555.993506,NaN,NaN
std,5201.916044,NaN,20253.208298,NaN,NaN
min,2.000000,NaN,3002.000000,NaN,NaN
25%,232.750000,NaN,3101.750000,NaN,NaN
50%,456.500000,NaN,46009.000000,NaN,NaN
75%,958.250000,NaN,46184.000000,NaN,NaN
max,90400.000000,NaN,46258.000000,NaN,NaN

In [7]:
# Unir con centros sanitarios
df_final = merged_df.merge(
    centros_df,
    on='cod_municipio',
    how='left'
)

# Crear columna indicadora de presencia de centro sanitario
df_final['tiene_centro_sanitario'] = df_final['cen_cod'].notna().astype(int)

### Dataset integrado final

El resultado final es un dataset a nivel de centro sanitario que combina:

- Información demográfica municipal
- Delimitaciones geográficas
- Características de los centros sanitarios

In [10]:
# Número total de filas
df_final.shape

(682, 33)

In [11]:
# Municipios sin centros
df_final[df_final['tiene_centro_sanitario'] == 0]['municipio'].nunique()

374

In [12]:
# Centros por municipio
df_final.groupby('municipio')['cen_cod'].count().sort_values(ascending=False).head()

municipio
València                42
Alacant/Alicante        16
Castelló de la Plana    16
Elx/Elche               12
Sagunt/Sagunto           5
Name: cen_cod, dtype: int64

### Exportación del dataset combinado

Una vez finalizado el proceso de integración de los tres datasets, se procede a guardar el dataset resultante en la carpeta `data/combined`.

Este conjunto de datos, ya limpio y estructurado, será utilizado en las fases posteriores de análisis, tanto a nivel estadístico como espacial.

El archivo se almacena en formato CSV para facilitar su reutilización en análisis posteriores o en otros proyectos.

In [11]:
df_final.sample(5)

,cod_provincia,provincia,cod_municipio,municipio,pob_100_mas,pob_0_4,pob_10_14,pob_15_19,pob_20_24,pob_25_29,...,pob_90_94,pob_95_99,poblacion_total,geometry_municipio,area_ha,cen_cod,cen_desclar,tipo,wkt_centro,tiene_centro_sanitario
91,3,Alicante/Alacant,3065,Elx/Elche,43.0,9130.0,13794.0,14762.0,13798.0,13028.0,...,1792.0,456.0,245575.0,MULTIPOLYGON (((707950.107197084 4225597.15446...,32691.75,531.0,CS ELX TOSCAR,Centros de salud,POINT (699692.7509 4238006.11632),1
677,46,Valencia/València,46262,"Yesa, La",0.0,6.0,8.0,6.0,12.0,13.0,...,3.0,1.0,246.0,MULTIPOLYGON (((680002.307396259 4413168.40675...,8467.22,NaN,NaN,NaN,NaN,0
470,46,Valencia/València,46118,Enguera,3.0,130.0,203.0,251.0,247.0,242.0,...,65.0,12.0,4906.0,MULTIPOLYGON (((676846.300000517 4312573.99999...,24198.69,425.0,CS ENGUERA,Centros de salud,POINT (700222.57497 4317216.00981),1
43,3,Alicante/Alacant,3025,Benferri,1.0,102.0,121.0,123.0,101.0,94.0,...,7.0,6.0,2098.0,MULTIPOLYGON (((679014.300286243 4224986.16929...,1237.12,NaN,NaN,NaN,NaN,0
454,46,Valencia/València,46102,Quart de Poblet,4.0,1006.0,1248.0,1362.0,1303.0,1503.0,...,232.0,58.0,26939.0,"MULTIPOLYGON (((710538.932 4371833.037,710553....",1969.32,234.0,CS QUART DE POBLET,Centros de salud,POINT (719450.46825 4373522.5907),1

In [9]:
df_final.to_csv('../data/combined/centros_sanitarios_poblacion_municipios.csv', index=False)